:root{
--primary:#1f6feb;
--dark:#0b0f17;
--light:#e6edf3;
}

*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Montserrat;
}

body{
background:var(--dark);
color:var(--light);
}

/* NAVBAR */
.navbar{
position:fixed;
top:0;
width:100%;
display:flex;
justify-content:space-between;
align-items:center;
padding:20px 10%;
background:rgba(0,0,0,.6);
backdrop-filter:blur(10px);
z-index:999;
}

.logo{
font-weight:800;
font-size:1.5rem;
color:#fff;
}

.nav-links{
display:flex;
gap:30px;
list-style:none;
}

.nav-links a{
color:#ddd;
text-decoration:none;
transition:.3s;
}

.nav-links a:hover{
color:var(--primary);
}

.btn-nav{
background:var(--primary);
padding:8px 18px;
border-radius:20px;
color:white!important;
}

/* HERO */
.hero{
height:100vh;
display:flex;
justify-content:center;
align-items:center;
text-align:center;
background:url("https://images.unsplash.com/photo-1503387762-592deb58ef4e") center/cover;
position:relative;
}

.overlay{
position:absolute;
inset:0;
background:rgba(0,0,0,.65);
}

.hero-content{
position:relative;
max-width:800px;
}

.hero h1{
font-size:3.5rem;
margin-bottom:20px;
}

.hero h1 span{
color:var(--primary);
}

.hero p{
opacity:.85;
margin-bottom:30px;
line-height:1.6;
}

.hero-buttons{
display:flex;
gap:20px;
justify-content:center;
flex-wrap:wrap;
}

.btn-primary{
background:var(--primary);
padding:14px 35px;
border-radius:30px;
color:white;
text-decoration:none;
}

.btn-outline{
border:2px solid white;
padding:12px 35px;
border-radius:30px;
color:white;
text-decoration:none;
}

/* SECTIONS */
.section{
padding:120px 10%;
}

.section.dark{
background:#06090f;
}

.section.center{
text-align:center;
}

.section-title{
text-align:center;
font-size:2.8rem;
margin-bottom:70px;
}

/* GRID */
.grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(300px,1fr));
gap:40px;
}

/* CARD */
.card{
background:rgba(255,255,255,.05);
padding:40px;
border-radius:18px;
border:1px solid rgba(255,255,255,.1);
transition:.3s;
}

.card:hover{
transform:translateY(-10px);
border-color:var(--primary);
}

.card h3{
margin-bottom:15px;
}

/* PROJECTS */
.project-wrapper{
display:flex;
flex-direction:column;
gap:60px;
max-width:900px;
margin:auto;
}

.project-card{
background:rgba(255,255,255,.05);
padding:25px;
border-radius:20px;
border:1px solid rgba(255,255,255,.12);
transition:.4s;
}

.project-card:hover{
transform:translateY(-10px);
border-color:var(--primary);
}

.project-card img{
width:100%;
border-radius:15px;
margin-bottom:20px;
}

/* FOOTER */
footer{
text-align:center;
padding:40px;
background:#05070c;
}

/* MOBILE */
@media(max-width:768px){

.hero h1{
font-size:2.3rem;
}

.nav-links{
display:none;
}

.section{
padding:90px 6%;
}
}
